<!--
 Copyright (c) 2020 Seagate Technology LLC and/or its Affiliates

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

 For any questions about this software or licensing,
 please email opensource@seagate.com or cortx-questions@seagate.com.

-->

<h1 class="text-center">Upload Object</h1>

<script>
  $(function() {
    $("input[type=file]").on('change',function(){
     $('#object_title').val(this.files[0].name);
     $('#object_title').tooltip('show');
     $('#object_title').focus();
     setTimeout(function () {
      $('#object_title').tooltip('hide');
    }, 1000);
    });
  });
 </script>

<%= form_for :object, url: bucket_objects_path, :class => 'form-horizontal' do |f| %>
  <p>
    <%= f.label 'Name', :class => "text-info" %>
    <%= f.text_field :title, {"data-toggle" => "tooltip", "data-animation" => "true",  "data-placement" => "right", "title" => "Custom Object Name if required."} %>
  </p>

  <%= f.file_field :s3object %>
</br>
  <p>
    <%= f.submit 'Upload Object', :class => 'btn btn-primary btn-xs' %>
  </p>
<% end %>

<%= link_to 'Back', bucket_objects_path %>
